<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="controller.js"></script>
<style>
body {
    display: block;
    margin-right: 350px
}
p {
   display: block;
   margin-left: 515px
}
table {
   display: block;
   margin-left: 515px  
    
}
</style>
<img src="Picture1.jpg" alt="Mountain View" style="width:900px;height:100px;margin-left:300px" align="center">
</head>

<body ng-controller="itemsController">
   <p>Add New Item</p>
    <form ng-submit="submit()">
        <p>Image Link:
            <input ng-model="stuff.link">
        </p>
        <p>Item Description:
            <input ng-model="stuff.description">
        </p>
        <p>Email Address
            <input ng-model="stuff.email">
        </p>
        <p>Your Mobile Number:
        <input ng-model='stuff.number'/></p>
            <p>
                <button>Add</button>
            </p>

    </form>
    <p>Search:
        <input type="text" ng-model="query">
    </p>
    <table>

        <tr ng-repeat="stuff in item | filter:query">
            <td>{{stuff.email}}</td>
            <td><a href="{{stuff.link}}">Image link</a></td>
            <td hidden>{{stuff.link}}</td>
            <td>{{stuff.description}}</td>
            <td>{{stuff.number}}</td>
            <p><a class="btn" ng-click="remove()">Delete</a>
            </p>



        </tr>
    </table>






</body>








</html>